[submodule "bundle/brogrammer-theme"]
	path = bundle/brogrammer-theme
	url = git@github.com:marciomazza/vim-brogrammer-theme
[submodule "bundle/vendetta-theme"]
	path = bundle/vendetta-theme
	url = git@github.com:evgenyzinoviev/vim-vendetta
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/seoul256-theme"]
	path = bundle/seoul256-theme
	url = git@github.com:junegunn/seoul256.vim.git
[submodule "bundle/rainglow-theme"]
	path = bundle/rainglow-theme
	url = git@github.com:rainglow/vim.git
[submodule "bundle/wombat256-theme"]
	path = bundle/wombat256-theme
	url = git@github.com:vim-scripts/wombat256.vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
