[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/brogrammer-theme"]
	path = bundle/brogrammer-theme
	url = git@github.com:marciomazza/vim-brogrammer-theme
[submodule "bundle/vendetta-theme"]
	path = bundle/vendetta-theme
	url = git@github.com:evgenyzinoviev/vim-vendetta
